--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
pydantic
scikit-learn
pandas
numpy
joblib
groq
streamlit
plotly
python-dotenv
requests
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
torch
